In [1]:
"""
If running on Google Colab
"""
# %mkdir vdl
# %cd vdl
# ! git clone https://github.com/mostly-ai/virtualdatalab.git
# %cd virtualdatalab/virtualdatalab
# !pip install -r requirements.txt
# !pip install .

'\nIf running on Google Colab\n'

Simplest showcase of Identiysynthesizer + Dummy Data Generator

In [2]:
from virtualdatalab.target_data_generate import generate_simple_seq_dummy
from virtualdatalab.synthesizers.identity import IdentitySynthesizer
from virtualdatalab.benchmark import compare

## Generate Fake Data

In [3]:
"""
1000 subjects
sequences length between 2 and 6
5 categorical columns
5 sequential columns

"""
dummy_train_data = generate_simple_seq_dummy(1000,[2,6],5,5)

## Instantiate Generator

In [4]:
i = IdentitySynthesizer()
i.train(dummy_train_data)
generated_data = i.generate(1000)

In [5]:
generated_data.head()

                cat_col_0 cat_col_1 cat_col_2 cat_col_3 cat_col_4  num_col_0  \
id sequence_pos
0  0                    p         o         n         c         n   0.913752
   1                    n         a         p         u         g   0.350555
   2                    z         z         u         z         l   0.677598
   3                    v         f         j         v         q   0.385606
   4                    d         s         j         t         p   0.605015

                 num_col_1  num_col_2  num_col_3  num_col_4
id sequence_pos
0  0              0.678889   0.983840   0.599853   0.480575
   1              0.680449   0.814649   0.011651   0.485727
   2              0.133539   0.067122   0.092849   0.475718
   3              0.982333   0.278540   0.241390   0.906922
   4              0.406682   0.318790   0.275094   0.595178

## Analysis

In [6]:
compare(dummy_train_data,generated_data)

{'univariate_total_variation_distance': False,
 'bivariate_total_variation_distance': 0.7999999999999998,
 'correlation_difference': 3.3362908763534453,
 'distance_to_closest_record': False}